go 1.25.0

use (
	./api
	./common
	./services/activity-service
	./services/order-service
	./services/risk-service
	./services/seckill-gateway
	./services/seckill-job
	./services/seckill-processor
	./services/stock-service
	./services/support-service
)
